.background{
  background-color: white;
 }

 .background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}
.table-container {
  max-height: 430px; /* Set your preferred height here */
  overflow-y: auto;
}
.total-div {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 30%;
  height: 80px;
  border-radius: 15px;
}

.received-total {
  background-color: #e6ffe6; /* Light green */
  float: right;
}

.pay-total {
  background-color: #ffe6e6; /* Light red */
  float: right;
}

.balance-total {
  background-color: #e6e6ff; /* Light blue */
  float: right;

}

/* Style the sidebar - fixed full height */
.sidebar {
height: 90%;
width: 150px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #FCF6F5;
overflow-x: hidden;
padding-top: 16px;
margin-top: 2%;
border-radius: 20px;

margin-left: 20px;
}

/* Style sidebar links */
.sidebar a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: black;
display: block;
font-weight: 600;
}

/* Style links on mouse-over */
.sidebar a:hover {
color: #f1f1f1;
background-color:#990011;
border-radius: 20px;
}

/* Style the main content */
.main {
margin-left: 160px; /* Same as the width of the sidenav */
padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
}

.error-border {
  border-color: red !important;
  border-width: 2px;
}

.div2{
float: right;
width: 97%;
border-radius: 20px;
color: black;
text-align: center;
margin-right: 30px;
}

.table_div{
margin-top: 190px;
border-radius: 20px;
color: #111111;
align-items: center;
align-content: center;
}
th,
td {
border: 0px solid black;
}
td{

font-weight: 500;
}
table {
width: 99%;
}

.action-buttons button {
  margin-right: 15px; /* Adjust the value as needed */
}

.action-buttons button:last-child {
  margin-right: 0; /* Reset right margin for the last button */
  margin-left: 15px; /* Add left margin for the last button */
}


/* Media query for smaller screens */
@media all and (max-width: 500px) {
  /* Styles for screens with a maximum width of 768 pixels or less */
  .div2{
    width: 100%;
    font-size: 10px;
  }
 
  .table_div {
    margin-top: 80px;
    float: left;
    width: 100%;
  }

  .action-buttons button {
    margin-right: 10px;
  } */

  .total-div{
    width: 25%;
    
  }
}

